h2 {
  font-size: 20px;
}

.pad {
  margin-bottom:100px;
}

h3 {
  font-size:16px;
  font-weight:400;

}

/*Header Styles*/

p.subHeader {
  padding-left:10px;
  padding-top:10px;
  font-size:14px;
}

h2.titleHeader {
  font-size:15px;
  line-height:11px;
  font-weight:700;
  letter-spacing: 1px;
  color:#ed559c;
  padding-left:10px;
  padding-top:10px;
}

.profilePic {
  padding:15px 0px 15px 0px;
}

a.titleHeader{
  color:#ed559c;
}

.profile {
  margin-right: 50px;
}

.bio {
  margin-top: auto;
  margin-bottom: auto;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
