@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Just+Another+Hand|Patrick+Hand|Patrick+Hand+SC');

.posted { 
    background-image:url("../img/posted.png");
    background-size: 300px;
    background-repeat: no-repeat;
}

h1.topic {
    margin-top:100px;
    margin-bottom:100px;
    font-size:30px;
    font-family: Barlow;
    font-weight: 400;
    font-style: wrap;
    text-align: center;

}

.pink {
    background-color: #ed559c;
}

.blue {
    background-color: #229EE0;
}

.hotpink {
    background-color: #E2416F;
}

.darkblue {
    background-color: #1A6CA3;
}

.col-md-2 {
    margin:10px;
}


/* .Random CSS */

h3.topic_title {
    font-size: 80px;
    text-align:right;
    font-weight:bold;
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom: 5px solid #e4dfe1;
    border-bottom-width: 50%;
}

.row.white {
    box-shadow: 6px 6px 6px 8px lightgrey;
}

.row.white:hover {
    background-color: #E2416F;
    color: white;
}

h1.subtitle {
    font-size:15px;
}

.topicLink {
    color: white;
}

.topicLink:hover {
    color: white;
}



