@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');

h1 {
  font-family: 'Barlow', sans-serif;
  color:black;
  font-weight:700;
}

.mb-5 {
  font-family: 'Barlow', sans-serif;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size:18px !important;
  color:black;
  line-height: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

p.mb-5 {
  font-family: Slack-Averta,appleLogo,sans-serif;
}

h1.mb-3{
  font-size:90px !important;
      /*for the recruitment page, I adjusted the padding*/
  padding-left: 0px !important;
}

button.btn.btn-secondary {
  padding:15px 25px 15px 25px !important;
  background-color:#ed569d;
  font-family:'Barlow', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size:14px;
  border-color:#cf4887;
}

button.btn.btn-secondary:hover {
  background-color:#cf4887 !important;
}

.social-icons ul>li>a {
  background-color: white;
  color:black;
}

.social-icons ul>li>a:hover {
  background-color:white;
  color:#eb4c96;
}

.social-icons {
  height: 50%;
  top: 20%;
  padding-bottom: 15px;
}

.header-icons {
  text-align: center;
}

.header-icons a {
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  font-size: 1.5rem;
  background-color: white;
  color:black;
}

.header-icons a:hover {
  text-decoration: none;
  background-color: white;
  color: #eb4c96;
}



.overlay {
  background-color:white !important;
  opacity:100 !important;
}

body{
  background-color:white;
}

.text-muted{
  font-family: 'Barlow', sans-serif;
  color:black;
  z-index: 1;
}

#logo {
  padding:10px 10px 10px 20px;
}

.masthead{
  width:100% !important;
}

.header.clearfix {
  border-style:solid;
  border-bottom-color: lightgrey;
  border-width:0px 0px 1px 0px;
}

.textbox button {
    text-align: left !important;
}

.button {
  text-align: left;
  padding: 10px;
}

/*img {
  border-style: solid;
  border-color: black;
}

div {
  border-style: solid;
  border-color: black;
}*/


/*Additional breakpoint*/
@media (max-width: 576px) {

  .header-icons a {
    margin-right: 1rem;
  }

  .social-icons {
    display: none;
  }

  .header-icons {
    display: block;
  }

  #large_image {
    display: none;
    width: 0;
    height: 0;
  }

  #small_image {
    display: none;
    width: 0;
    height: 0;
  }

  #mobile_image {
    position: relative;
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }


  h1.mb-3 {
    font-size: 50px !important;
    padding: 10px;
  }

  p {
    font-size: 16px !important;
    padding: 10px;

  }
  
  .textbox button {
    width: 100%;
    text-align: center !important;
  }

  .social-icons {
    top: 3%;
  }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .header-icons {
    display: block;
  }

  .social-icons {
    display: none;
  }

  #large_image {
    display: none;
  }

  #mobile_image {
    display: none;
    width: 0;
    height: 0;
  }

  #small_image {
    position: relative;
    display: block;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  h1.mb-3 {
    font-size: 60px !important;
  }

  
  .social-icons {
    top: 80%;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .header-icons {
    display: none;
  }

  .social-icons {
    display: block;
  }

  #large_image {
    display: none;
  }

  #small_image {
    position: relative;
    display: block;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #mobile_image {
    display: none;
    height: 0;
    width: 0;
  }


  h1.mb-3 {
    font-size: 70px !important;
  }

  .social-icons {
    top: 20%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .header-icons {
    display: none;
  }

  .social-icons {
    display: block;
  }

  #large_image {
    display: block;
  }

  #small_image {
    display: none;
    width: 0;
    height: 0;
  }

  #mobile_image {
    display: none;
    width: 0;
    height: 0;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .header-icons {
    display: none;
  }

  .social-icons {
    display: block;
  }

  #large_image {
    display: block;
  }

  #small_image {
    display: none;
    width: 0;
    height: 0;
  }

  #mobile_image {
    display: none;
    width: 0;
    height: 0;
  }



  .social-icons {
    top: 20%;
  }
}