---
---

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>theBit - Blog</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Custom fonts for this template 
            font-family: 'Patrick Hand', cursive;
            font-family: 'Gochi Hand', cursive;
            font-family: 'Just Another Hand', cursive;
            font-family: 'Patrick Hand SC', cursive;
        -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/contact.css" rel="stylesheet">
        <link href="/css/blog_style.css" rel="stylesheet">

        <!-- <link href="css/main.css" rel="stylesheet">  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    </head>
    <body class ="white">
        {% include nav.html %}

        <div class="container" style="margin-top:50px;margin-bottom:50px">
            <div class="row">
                <div class="col">
                    <h1 class = "pageHeader"> Redefining Cultural Norms</h1>
                    <h2 class ="subHeader">How we Plan to Close the Gender Gap in Technology</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <p>The Bit is a platform online for beginners to explore their interest in technology. Our focus is on empowering women and femme non-binary individuals in technology to interact, explore, and share. We run events in Boston and New York for young women in technology, conduct research to identify factors that contribute to the gender gap in technology, create content to inspire more young women to enter the technology industry, run an online store, and more!</p>

                    <br>

                    <p>The Bit was founded by the 2018 SheHacks Boston Leadership Team in an effort to grow the community of female hackers worldwide. In 2018, we were awarded $10k from Boston University's Summer Accelerator program to transform our ideas into reality.</p>

                    <br>

                </div>
            </div>

            <h1 class ="cb-module-header">Our Team</h1>

            <div class="row">

                <div class="col-sm-2"></div>
                <div class="col-sm-3 profile">
                    <button class="profile-button">
                        <h2 class ="titleHeader">Fiona Whittington
                            <p class ="position">CEO &#38;  Founder</p>
                            <p class = "bio" style="display:none;">Founder @shehacksboston @girlswhocodebu Intern @redhat Boston University 2019 #startups #tech #womenintech</p>
                            <!-- Add this for next sprint -->
                           <!--  <a href="https://www.instagram.com/thebit.blog/" target="_blank">
                                <i class="fa fa-instagram social-icon fa-2x contact-social-icon" aria-hidden="true"></i>
                            </a> -->
                        </h2>
                        <!-- <h3 class ="titleHeader">fionaw@bu.edu</h3> -->
                        <img class ="profilePic" src="main_images/fiona_polaroid.png" width="350px">
                    </button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 profile">
                    <button>
                        <h2 class ="titleHeader">Ashwini Chauhan
                            <p class ="position">Business &#38; Partnership Manager </p>
                            <p class = "bio" style="display:none;">Director @shehacksboston, Co-President @WICS, Mentor @SouthEndTechnology, UMass 2019 #computer science #theoretical physics #product design #astronomy #finance</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/ash_polaroid.png" width="350px">
                    </button>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Becca Kirlew, Graphic Designer
                            <p class = "bio" style="display:none;">Becca is a rising Junior at Massachusetts College of Art and Design studying graphic design. She has basic experience coding and is always interested in learning more. She's passionate about encouraging beginners not be scared by code and to see what a useful tool it can be. She's especially interested in web and app design. In her free time, she enjoys being in nature, cooking, and doodling.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/becca_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Brandon Chen, Head of Operations
                            <p class = "bio" style="display:none;">Brandon is currently a rising junior at Boston University. 
                                    He is studying economics, computer science, and 
                                    communications. In truth, he does not really know what he
                                    specifically wants to do with his life after college. In the
                                    meantime, he is following his interests, helping others,
                                    and doing his best. His favorite color is red.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/brandon_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader" style="width:102%;">Bridget Scott,  Photographer 
                            <p class = "bio" style="display:none;"> Bridget is a Junior at NYU studying media, cultural, communications, and politics with a passion for photography. She joined The Bit and the SheHacks Boston team for the opportunity to be a part of an incredible team of inspiring women changing the stigma of stem and other primarily male saturated markets. As a politics major, the feeling of isolation resonated with her and she is honored to be on a part of a wave of change with The Bit and SheHacks team.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/bridget_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Candace Williams, Chief Technologist
                            <p class = "bio" style="display:none;">Candace is a rising Junior at Match Charter Public High School who enjoys 
                                    using code as an outlet for her thoughts and ideas. In the future she'll likely
                                    become a computer science major in college to continue learning about how
                                    technology can benefit the world. However, as the Co-Director of Marketing at
                                    SheHacks Boston, she's also interested in communication and entrepreneurship. 
                                   Candace is not completely sure of how these interests will clash or where she'll
                                    end up, but she hopes that whatever it is involves a beautiful skyline that she
                                   can marvel at while thinking about the universe.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/candace_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Hargun Ghai, Communications Manager
                            <p class = "bio" style="display:none;">Hargun is currently a junior at Montgomery High School who shows much interest in 
                                    coding and business communication. She is passionate about biotechnology and 
                                    hopes to find new ways to improve the health of people around the world. 
                                    Hargun loves to help her community out by volunteering at many local 
                                    events. Hargun has attended and participated in many business competitions 
                                    and conferences and hopes to attend many more in the future. Other than studying,
                                     Hargun spends much of her time rowing and dancing.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/hargun_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Iccha Singh, Insert Title here
                            <p class = "bio" style="display:none;">Iccha is a rising Junior at Montgomery High School and her mission is to close the STEAM Gender Gap and use tech for good in her community. She has been running Techsters, her tech-club since 6th grade, is the High School Director at SheHacks Boston, and advocates for Girls in STEAM through panel sessions and presentations. Besides coding and public speaking, you can find Iccha drinking bubble tea, dancing to Bhangra, and running... but not all at the same time :)</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/iccha_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Kendra Levy, Insert Title here
                            <p class = "bio" style="display:none;">Kendra Levy is a rising senior at NYU. She is studying communications and hopes to find a job that combines her love of travel, creativity and helping others. Her favorite food is watermelon.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/kendra_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Margarita Zias, Buisness Manager &#38; Head of AI
                            <p class = "bio" style="display:none;">Margarita is a junior at CUNY Queens College currently majoring in Computer Science. Margarita was born in Queens, New York but moved to Greece when she was 6 years old to a small village of about 200 people called Militsa. She later moved to Australia, back to Greece and eventually- New York to complete her high school education. She works as a cybersecurity facilitator for her schools tech incubator at Queen's College and is the head of their social media team. She is also the VP of Queen's College's Women in tech club and the director of logistics for HackAttack. She loves building things as a result of her time working in an electrical shop when she was 18. Some of her hobbies include anime, superhero movies and diving!</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/margarita_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Sreeya Sai, Director of Partnerships
                            <p class = "bio" style="display:none;">Sreeya is a rising senior at Northeastern University studying computer science. She is currently a software engineering co-op at Catalant and has done a research co-op at IBM Research. She is the the Director of Partnerships of SheHacks Boston and the Fundraising Chair of the Relay For Life of Northeastern. She will also be joining the Rough Draft Ventures team as a venture fellow in the fall to help identify and support student founders. In her free time, Sreeya loves runs by the Charles River, bollywood fusion dance, and checking out all of Boston's trendy coffee shops.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/sreeya_polaroid.png" width="250px">
                    </button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 profile">
                    <button>
                        <h2 class ="titleHeader">Yesmeen Elgabori, Social Media Director
                            <p class = "bio" style="display:none;">Yesmeen is a rising high school senior who loves coding, 
                                    social media and communications. She doesn't really 
                                    know where that may lead her but she's excited to
                                    find out. She loves attending hackathons and has
                                    recently won hackNYU. She's a New Yorker at heart and
                                    believes in the hustle & grind mentality.</p>
                        </h2>
                        <img class ="profilePic" src="main_images/headshots/yesmeen_polaroid.png" width="250px">
                    </button>
                </div>

                <!-- 
                <div class = "col-sm-3 profile">
                    <button>
                        <img class ="profilePic" src="main_images/headshots/yesmeen_polaroid.png" width="200px">
                    </button>
                </div>
                <div class = "col-sm-8 bio">
                    <h2 class ="titleHeader">Yesmeen Elgabori, Social Media Director &#38; Copy Writer</h2>
                    <h3 class ="titleHeader">yesmeen.elg@gmail.com</h2>
                    <p class = "subHeader">Yesmeen is a rising high school senior who loves coding, 
                        social media and communications. She doesn't really 
                        know where that may lead her but she's excited to
                        find out. She loves attending hackathons and has
                        recently won hackNYU. She's a New Yorker at heart and
                        believes in the hustle & grind mentality.</p>
                </div> -->
            </div>
        </div>

        <!--Footer-->
        {% include footer.html %}
        <!--/Footer-->
    </body>
    <script>
        $(".profile").hover(function() {
            $(this).find("p.bio, i.contact-social-icon").show();
            
            $(this).find("h2.titleHeader, h3.titleHeader, p.bio").animate({
                height: "80%",
            });
        });

        $(".profile").mouseleave(function() {
            $(this).find("h2.titleHeader, h3.titleHeader, p.bio, i.contact-social-icon").animate({
                height: "12%",
            });
            $(this).find("p.bio, i.contact-social-icon").hide(50);
        });

    </script>
</html>
