---
---

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>theBit - Blog</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Custom fonts for this template 
            font-family: 'Patrick Hand', cursive;
            font-family: 'Gochi Hand', cursive;
            font-family: 'Just Another Hand', cursive;
            font-family: 'Patrick Hand SC', cursive;
        -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/contact.css" rel="stylesheet">
        <link href="/css/blog_style.css" rel="stylesheet">

        <!-- <link href="css/main.css" rel="stylesheet">  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    </head>
    <body class ="white">
        {% include nav.html %}

        <div class="container" style="margin-bottom:50px">
            <div class="row">
                <div class="col">
                    <h1 class = "pageHeader"> Redefining Cultural Norms</h1>
                    <h2 class ="subHeader">How we Plan to Close the Gender Gap in Technology</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <p>The Bit is a platform online for beginners to explore their interest in technology. Our focus is on empowering women and femme non-binary individuals in technology to interact, explore, and share. We run events in Boston and New York for young women in technology, conduct research to identify factors that contribute to the gender gap in technology, create content to inspire more young women to enter the technology industry, run an online store, and more!</p>

                    <br>

                    <p>The Bit was founded by the 2018 SheHacks Boston Leadership Team in an effort to grow the community of female hackers worldwide. In 2018, we were awarded $10k from Boston University's Summer Accelerator program to transform our ideas into reality.</p>

                    <br>

                </div>
            </div>

            <!-- <h1 class ="cb-module-header">Our Team</h1> -->

        </div>

        <!--Footer-->
        {% include footer.html %}
        <!--/Footer-->
    </body>
    <script>
        $(".profile").hover(function() {
            $(this).find("p.bio, i.contact-social-icon").show();
            
            $(this).find("h2.titleHeader, h3.titleHeader, p.bio").animate({
                height: "80%",
            });
        });

        $(".profile").mouseleave(function() {
            $(this).find("h2.titleHeader, h3.titleHeader, p.bio, i.contact-social-icon").animate({
                height: "12%",
            });
            $(this).find("p.bio, i.contact-social-icon").hide(50);
        });

    </script>
</html>
