---
---

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>theBit - Blog</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Custom fonts for this template 
            font-family: 'Patrick Hand', cursive;
            font-family: 'Gochi Hand', cursive;
            font-family: 'Just Another Hand', cursive;
            font-family: 'Patrick Hand SC', cursive;
        -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/contact.css" rel="stylesheet">
        <link href="/css/blog_style.css" rel="stylesheet">

        <!-- <link href="css/main.css" rel="stylesheet">  -->

        <style>
        </style>


    </head>
    <body class ="white">
        {% include nav.html %}

        <div class="container" style="margin-top:50px;margin-bottom:50px">
            <div class="row">
                <div class="col">
                    <h1 class = "pageHeader"> Redefining Cultural Norms</h1>
                    <h2 class ="subHeader">How we Plan to Close the Gender Gap in Technology</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <p>The Bit is a platform online for beginners to explore their interest in technology. Our focus is on empowering women and femme non-binary individuals in technology to interact, explore, and share. We run events in Boston and New York for young women in technology, conduct research to identify factors that contribute to the gender gap in technology, create content to inspire more young women to enter the technology industry, run an online store, and more!</p>

                    <br>

                    <h1>About</h1>

                    <p>The Bit was founded by the 2018 SheHacks Boston Leadership Team in an effort to grow the community of female hackers worldwide. In 2018, we were awarded $10k from Boston University's Summer Accelerator program to transform our ideas into reality.</p>

                    <br>

                </div>
            </div>

            <div class="row">
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/fiona_polaroid.png" width="200px">
                        </button>
                </div>
                 <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/ash_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/becca_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/brandon_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/bridget_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/hargun_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/iccha_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/margarita_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/sreeya_polaroid.png" width="200px">
                        </button>
                </div>
                <div class = "col-sm-2 profile">
                        <button>
                            <img class ="profilePic" src="main_images/headshots/yesmeen_polaroid.png" width="200px">
                        </button>
                </div>
                <!-- <div class = "col-sm-8 bio">
                    <h2 class ="titleHeader">Fiona Whittington, CEO &#38; Founder</h2>
                    <h2 class ="titleHeader">fionaw@bu.edu</h2>
                    <p class = "subHeader">Fiona is a Junior at Boston University studying advertising and computer science. She is currently the President and Founder of Girls Who Code BU, Executive Briefing Center Intern at Red Hat, and Researcher at Boston University. She is the founder of SheHacks Boston and The Bit. <strong>She is passionate about science, technology, communications, and travel. Her dream job would be to combine her interests in science and technology with her passion for design and innovation with the goal of bettering communities around the world.</strong> In her free time, Fiona enjoys running on along the Charles River, studying the stock market, and sipping tea. </p>
                </div> -->
            </div>


<!--                 <div class = "col-md-2">
                    <img src="img/candace_torn.png" width="200px" style="padding-right:20px">
                </div> -->
               <!--  <div class = "col-md-8">
                    <h2>Candace Williams</h2>
                    <h3 id ="subtitle">Chief Technologist, The Bit</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                </div>

                <div class = "col-md-2">
                    <img src="img/lisa_torn.png" width="200px" style="padding-right:20px">
                </div>
                <div class = "col-md-8">
                    <h2>Lisa Vu</h2>
                    <h3 id ="subtitle">Director of Finance, The Bit</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                </div>

                <div class = "col-md-2">
                    <img src="img/syd_torn.png" width="200px" style="padding-right:20px">
                </div>
                <div class = "col-md-8">
                    <h2>Sydney Roof</h2>
                    <h3 id ="subtitle">Creative Director, The Bit</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                </div>
 -->
        </div>

        <!--Footer-->
        {% include footer.html %}
        <!--/Footer-->
    </body>
    <script>
        function toggle_help() {
            if ($(window).width() >= 600) {
                $('.profile button').prop('disabled', true);
                $(".bio p").show();
            }
            else {
                $('.bio p').hide();
                $('.profile button').prop('disabled', false);
                $(".profile button").on('click', function(){
                    $('.bio p').toggle();
                });
            }
        }
        $(document).ready(function() {
            toggle_help();
        });
        $(window).resize(function() {
            toggle_help();
        });

    </script>
</html>
