body {
	background-color: #546de6;
	font-family: 'Overpass', sans-serif;
	color: white;
}

.main > h1 {
	margin-bottom: 5%;
	font-weight: 500;
}

.main > h3 {
	font-weight: lighter;
}

#logo {
	padding-left: 10px;
	padding-top: 10px;
}

.main {
	padding: 7% 10% 5% 10%;
}

#button {
	left: 50%;
	text-align: center;
	margin-top: 5%;
	background-color: #edde57;
	color: black;
	border-radius: 25px;
	width: 250px;

}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#button > h2 {
	padding: 5px;
	font-weight: 500;
}

.social-icons {
	margin-top: 2.5%;
	position: absolute;
	display: inline-block;
	padding-left: 17px;
	padding-bottom: 10px;

}

.social-icons > a {
	font-size: 30px;
	padding-right: 20px;
	color: white;
}

.social-icons > a:hover {
	color: #f9e700;
	transition: .5s ease;
}

#form {
	margin-top: 3%;
	width: 100%;
	border-radius: 10px;
}

/*XS devices*/
@media (max-width: 575px) { 

	/*div {
		border-style: solid;
		border-color: blue;
	}*/

	.main > h1 {
		font-size: 30px;
	}

	.main > h3 {
		font-size: 20px;
	}

	#button > h2 {
		font-size: 24px;
	}

	#button {
		width: 200px;
	}

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

	/*div {
		border-style: solid;
		border-color: green;
	}*/

	/*.main > h1 {
		font-size: 30px;
	}

	.main > h3 {
		font-size: 20px;
	}

	#button > h2 {
		font-size: 24px;
	}*/

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  

	/*div {
		border-style: solid;
		border-color: yellow;
	}*/

	/*.main > h1 {
		font-size: 36px;
	}

	.main > h3 {
		font-size: 24px;
	}

	#button > h2 {
		font-size: 30px;
	}*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

	/*div {
		border-style: solid;
		border-color: orange;
	}*/

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	/*div {
		border-style: solid;
		border-color: red;
	}*/

 }