---
---


<!DOCTYPE html>

<html>

<head>

	<title>SheSpeaks</title>
	{% include head_content.html %}
	<link href="css/blog_style.css" rel="stylesheet">
	<link href="css/ss_style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>

<body>

	{% include nav.html %}


	<div class="container top">
		<div class="text">
	 			<h1>At SheSpeaks, we inspire </h1>
	 			<p>Volutpat lectus eu, hendrerit donec nulla aliquam, proin donec taciti voluptatem nunc integer in, wisi vestibulum commodo, adipiscing feugiat sodales sapien sed. Amet magna ac eu sit bibendum, sit vitae mauris montes iaculis pede. Ultricies dolor montes libero proin quis, est ac sodales, lacus id, adipiscing elit quam nulla interdum conubia, eget lorem. Aenean donec. Quis convallis, tellus feugiat et tellus eu, libero pharetra, ut suscipit.</p>
	 			
	 	</div>
		
	</div>

	

 	<div class="container slideshow">

 		
 		
		<div id="demo" class="carousel slide mx-auto" data-ride="carousel">

			<ul class="carousel-indicators">
			    <li data-target="#demo" data-slide-to="0" class="active"></li>
			    <li data-target="#demo" data-slide-to="1"></li>
			    <li data-target="#demo" data-slide-to="2"></li>
			</ul>

			<div class="carousel-inner">
			    <div class="carousel-item active">
			        <img src="shespeaks_images/placeolder3.jpg" alt="Los Angeles" width="1100" height="500">
			        <div class="carousel-caption">
			        	<h3>Featured Speaker</h3>
			        	<p>Cras et enim egestas, venenatis est at, efficitur lacus. Sed lobortis placerat dapibus. Cras dignissim pharetra urna eget efficitur.</p>
			        </div>   
			</div>

		    <div class="carousel-item">
			    <img src="shespeaks_images/placeolder3.jpg" alt="Chicago" width="1100" height="500">
			    <div class="carousel-caption">
			        <h3>What Is SheSpeaks</h3>
			        <p>SheSpeaks is uis convallis, tellus feugiat et tellus eu, libero pharetra, ut suscipit. Non erat mi ut laoreet sed proin, fusce sed, dolor potenti nibh arcu, ultrices interdum eaque, quis eros faucibus.</p>
			    </div>   
		    </div>

		    <div class="carousel-item">
			    <img src="shespeaks_images/placeolder3.jpg" alt="Chicago" width="1100" height="500">
			    <div class="carousel-caption">
			        <h3>How Can You Get Involved</h3>
			        <p>Inceptos lacus, diam elit, quam bibendum tempor neque, imperdiet at phasellus lacus.</p>
			    </div>   
		    </div>

			</div>
			   <a class="carousel-control-prev" href="#demo" data-slide="prev">
			    	<span class="carousel-control-prev-icon"></span>
			    </a>
			    <a class="carousel-control-next" href="#demo" data-slide="next">
			    	<span class="carousel-control-next-icon"></span>
			    </a>
			</div>

		</div>

	</div>

	<div class="container">
		<div class="text">
	 			<h2>Next Event: @ Boston University </h1>
	 			<p>Volutpat lectus eu, hendrerit donec nulla aliquam, proin donec taciti voluptatem nunc integer in, wisi vestibulum commodo, adipiscing feugiat sodales sapien sed. Amet magna ac eu sit bibendum, sit vitae mauris montes iaculis pede. Ultricies dolor montes libero proin quis, est ac sodales, lacus id, adipiscing elit quam nulla interdum conubia, eget lorem. Aenean donec. Quis convallis, tellus feugiat et tellus eu, libero pharetra, ut suscipit.</p>
	 			
	 	</div>
		
	</div>

	<div class="container speakers">

		<h1 id="speaker-heading">Past Speakers</h1>

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 justify-content-center">
				<div class="row"><img class="headshot" src="shespeaks_images/kira-headshot.jpg" height="220"></div>
				<div class="row"><p class="img-bio">Lorem ipsum dolor sit amet, quam turpis elit, non at, suscipit praesent. Neque risus amet. Consectetur molestie laoreet, ullamcorper pharetra hymenaeos, justo dictum mauris. Urna ultrices, libero sem.</p></div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 justify-content-center">
				<img class="headshot" src="shespeaks_images/loe-headshot.jpg" height="220">
				<p class="img-bio">Lorem ipsum dolor sit amet, lectus lobortis id, sagittis suspendisse, nullam nulla. Pede mattis. Scelerisque mollis ornare, ut tellus, nostra dictum elit. Tellus malesuada, feugiat mi.</p>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 justify-content-center">
				<img class="headshot" src="shespeaks_images/kira-headshot.jpg" height="220">
				<p class="img-bio">Lorem ipsum dolor sit amet, wisi maecenas a. Justo tellus morbi. Nullam felis eget, amet rhoncus lectus. Quisque eu, elit eros mauris.</p>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 justify-content-center">
				<img class="headshot" src="shespeaks_images/loe-headshot.jpg" height="220">
				<p class="img-bio">Lorem ipsum dolor sit amet, duis luctus, mollis nec. Ligula nullam. Egestas nec, eget nunc. Nonummy morbi.</p>
			</div>

		</div>

		
	</div>

	<div class="container involvement">

		<div class="row">

			<div class="col-6">
				<h1>How Do I Get Involved?</h1>
				<p>Lorem ipsum dolor sit amet, venenatis luctus. Eros eget. Lacus quam. Id arcu. Semper sapien, eu mollis. Iaculis est et, lectus numquam lectus. Cursus pellentesque arcu. Porta curabitur, ligula enim, at nascetur hendrerit.</p>
				
			</div>

			
		</div>

		
	</div>

	{% include footer.html %}





















</body>
















</html>