/*
Dark Blue - #05376F

*/
body {
	background-color: #ff6f59;
	font-family: 'Overpass', sans-serif;
	color: white;
}

/* UTILITY */
.button {
	width: 200px;
	padding: 10px;
	cursor: pointer;
	text-align: center;
}
.button:hover {
	text-decoration: none;
}
.button.primary {
	background-color: #05376F;
	color: #fff;
}
.button.primary:hover,
.button.primary:focus,
.button.primary:active {
	color: #fff;
	text-decoration: none;
}

#logoStyle {
	padding-left: 10px;
	padding-top: 10px;
}
.main {
	margin-top: 7%; 
}
.texts {
	text-align: right;
}
.texts > h3 {
	text-align: right;
	font-weight: 300;
	font-size: 20px;
}

.texts > h1 {
	font-size: 45px;
}

.texts > form > h4 {
	color: white;
}


a.controller {
	color: white;
	text-decoration: none;
	font-size:20px;
}

a.controller:hover {
	transition: .5s ease;
	color: #f9e700;
}

#project {
	display: inline-block;
	border-style: solid;
	border-radius: 50%;
}

#object {
	position: absolute;
	top: 100px;
	right: 33%;
	z-index: -100;
	opacity: 0.5;
}

#image-holder {
	border-radius: 50%;
	display: inline-block;
	background-color: black;
}

#image {
	border-radius: 50%;
	position: relative;
	border: solid 2px #f9e700;
}

#mc_embed_signup {
	clear: right;
	font: 14px;
	text-transform: uppercase;
	font-family: 'Overpass', sans-serif;
}

#mc_embed_signup input.button {
	padding: 5px;
	background-color: #f9e700;
	color: black;
	border: none;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Overpass', sans-serif;
	padding: 10px 15px 10px 15px;
}

#mc_embed_signup input.button:hover {
	color: black;
}

#mc_embed_signup input.email {
	width: 100%;
	display: block;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding: 7px;
	outline: none;
}
.user-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;
}
.user-buttons .button:first-child {
	margin-right: 10px;
}

input[type = text] {
	border: 1px solid white;
	background-color: #ed7b65;
}
input[type = email] {
	background-color: #ed7b65;
}

.social-icons {
	position: absolute;
	bottom: 0;
	display: inline-block;
	padding-left: 40px;
	padding-bottom: 10px;

}

.social-icons > a {
	font-size: 30px;
	padding-right: 20px;
	color: white;
}

.social-icons > a:hover {
	color: #f9e700;
	transition: .5s ease;
}

@media (max-width: 575px) {
	body {
		justify-content: center;
	}
	#mc_embed_signup input.email {
		float: none;
		margin-left: 0%;
	}
	#mc_embed_signup input.button { 
		float: none;
	}
	.slider {
		display: none;
	}
	.main {
		margin-top: 20%;
		z-index: 2;
	}
	.texts > h1 {
		text-align: center;
		font-size: 35px;
	}
	.texts > h3 {
		text-align: center;
	}
}

@media (min-width: 576px) {
	#mc_embed_signup input.email {
		float: none;
		margin-left: 0%;
	}
	#mc_embed_signup input.button { 
		float: none;
	}
	.texts > h1 {
		text-align: center;
		font-weight: 900;
		line-height: 65px;
	}
	.texts > h3 {
		text-align: center;
		font-weight: 300;
		padding-left: 10%;
		font-size: 20px;
	}
	.main {
		margin-top: 20%; 
	}
	.slider {
		display: none;
	}
}

@media (min-width: 768px) {
	.main {
		margin-top: 15%; 
	}
}

@media (min-width: 992px) { 
	.main {
		margin-top: 7%; 
	}
	#object {
		z-index: 1;
		opacity: 1;
	}
	.texts > h1 {
		text-align: right;
		font-weight: 900;
		line-height: 65px;
	}
	.texts > h3 {
		text-align: right;
		font-weight: 300;
		padding-left: 10%;
		font-size: 20px;
		margin-bottom: 30px;
	}
	.slider {
		display: block;
	}
}

@media (min-width: 1200px) {
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
