---
---

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>theBit - Blog</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/blog_style.css" rel="stylesheet">
        <link href="css/explore.css" rel="stylesheet">
        <!-- <link href="css/main.css" rel="stylesheet">  -->

        <style>
        </style>


    </head>
    <body class ="white">

        {% include nav.html %}
        
        <div class="container h-100">

                <div class="row">

                    <div class="col-md-12">
                        <h1 class="topic_title">.random</h1>
                    </div>

                </div>

<!--             <div class="content">
        <div class="container">
            <p class="text">
                .
            </p>

            <ul class="list">
                <li class="item">world !</li>
                <li class="item">bit !</li>
                <li class="item">SheHacks !</li>
                <li class="item">random !</li>
            </ul>
        </div>
    </div> -->

                <div class="row white" style="margin-bottom:50px;">

                        <div class="col-md-6 text-center">

                            <img src="img/loe.png" lass="img-fluid" alt="Responsive image" width="75%">

                        </div> 

                        <div class="col-md-6 article">
                            <h1 class ="subtitle">Read time: 3 Bites of Avocado Toast</h1>

                            <h1 class ="articleTitle">Loe Lee, Product Designer at HubSpot Shares Her Journey at SheSpeaks</h1>
                            <p style="padding-top:5px;">Come rain or shine, Loe Lee knows how to light up a room. From her colorful patterned dress to her easy-going attitude, we could not have had a more delightful speaker for our second SheSpeaks event.</p>
                             <button class="btn btn-primary" type="button">READ MORE</button>
                        </div>

                </div>

            

        </div>

        <!--Footer-->
        {% include footer.html %}
                  
    </body>
</html>