<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{{ site.url }}" class="name navbar-brand"><img src= "/main_images/logo.png" href="#" width="100px"></a>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/videos.html">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/explore.html">Explore</a>
            </li>
            <li class="nav-item home" >
                <a class="nav-link" href="{{ site.url }}">Home</a>
            </li>
            <li class="nav-item active middle">
               <a href="{{ site.url }}"><img class="nav-link" src= "/main_images/logo.png" href="#" width="100px"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://shehacks.io/">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.store.shehacks.io/">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact.html">Contact</a>
            </li>
            
            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="#">Learn</a>
                    <a class="dropdown-item" href="#">Explore</a>
                    <a class="dropdown-item" href="#">Support</a>
                </div>
            </li>-->
        </ul>
    </div>
    
</nav>

