<!DOCTYPE html>
<html>
    <head>
        {% include head_content.html %}

        <title>{{ page.title }} | {{ site.title }}</title>

    </head>
    <body>
        
        {% include nav.html %}

        <div class="container h-100">

            {% for post in site.categories.featured limit:1 %}
            <img class="my-auto" id="mobile_main_image" src="/post_images/{{ post.img }}" alt="Hands" width="600px" height="600px">
            {% endfor %}

            <div class="row">
                <div class="col-md-12">
                    {% for post in site.categories.featured limit:1 %}
                    <img class="my-auto" id="main_image" src="/post_images/{{ post.img }}" alt="Hands" width="600px" height="600px">
                    {% endfor %}
                </div>
                
<!--              Get Rid of This  
                {% for post in site.categories.featured limit:1 %}
                <div class="col-md-5 h-100 featured">
                    <div id="featured_section">
                        <h2 class="featured_category">FEATURED</h2>
                        <h3 class="featured_title">{{ post.title }}</h3>
                    </div>
                    <div>
                        <a class = "secondary" href= "{{ post.url }}"><button target="_blank" class="btn btn-secondary" type="button">READ MORE</button></a>
                   </div>
                   <hr>
                </div>
                {% endfor %} -->
            </div>

            <br>
            <br>
            <br>



            
            <div class="row w-100 h-100">

                <div class="col-md-4 h-100 ">
                    {% for post in site.categories.art limit:1 %}
                        <img class="my-auto secondary_image  img-fluid" id="image" src="/post_images/{{ post.img }}">
                        <h2 class=" category">ART</h2>
                        <h3 class=" title">{{ post.title }}</h3>
                    
<!--                         <div class="mobile_button">
                            <a class = "secondary" href="{{ post.url }}" target="_blank"><button class="btn btn-secondary" type="button">READ MORE</button></a>
                        </div> -->
                        <hr>
                    {% endfor %}

                    
                </div>
                <div class="col-md-4 h-100">
                    {% for post in site.categories.data limit:1 %}
                        <img class="my-auto secondary_image img-fluid" id="image" src="/post_images/{{ post.img }}">
                        <h2 class="category">DATA SCIENCE</h2>
                        <h3 class="title">{{ post.title }}</h3>
<!--                     
                        <div class="mobile_button">
                            <a class = "secondary" href="{{ post.url }}" target="_blank"><button class="btn btn-secondary" type="button" >READ MORE</button></a>
                        </div> -->
                        <hr>
                    {% endfor %}  
                </div>
                <div class="col-md-4 h-100">
                    {% for post in site.categories.social limit:1 %}
                        <img class="my-auto secondary_image img-fluid" id="image" src="/post_images/{{ post.img }}">
                        <h2 class="category">SOCIAL IMPACT</h2>
                        <h3 class="title">{{ post.title }}</h3>
 
<!--                         <div class="mobile_button">
                            <a class = "secondary" href="{{ post.url }}" target="_blank"><button class="btn btn-secondary" type="button" >READ MORE</button></a>
                        </div> -->
                        <hr>
                    {% endfor %}
                </div>
                
            </div>

            <div class="row w-100 h-100">

                <div class="col-md-4 h-100">
                    {% for post in site.categories.art limit:1 %}
                    
<!--                     <div class="desktop_button">
                        <a class = "secondary" href="{{ post.url }}" target="_blank"><button class="btn btn-secondary" type="button" >READ MORE</button></a>
                    </div> -->
                    {% endfor %}

                    
                </div>
                <div class="col-md-4 h-100">
                    {% for post in site.categories.data limit:1 %}
                       
<!--                     
                    <div class="desktop_button">
                        <a class = "secondary" href="{{ post.url }}" target="_blank"><button class="btn btn-secondary" type="button" >READ MORE</button></a>
                    </div> -->
                    {% endfor %}  
                </div>
                <div class="col-md-4 h-100">
                    {% for post in site.categories.social limit:1 %}
                        
                    
<!--                     <div class="desktop_button">
                        <a class = "secondary" href="{{ post.url }}" target="_blank"><button class="btn btn-secondary" type="button" >READ MORE</button></a>
                    </div> -->
                    {% endfor %}
                </div>
                
            </div>
        </div>

        <!--Footer-->
        {% include footer.html %}
        <!--/Footer-->
                      
                  
    </body>
</html>