
<!DOCTYPE html>
<html>
    <head>

        {% include head_content.html %}

        <title>{{ page.title }} | {{ site.title }}</title>

    </head>
    <body class ="orange">
        {% include nav.html %}

        <div class="container h-100">
            <div class="row">
                <div class="col-md-6">
                    <div id="img_container">
                        <img id="image" src="/img/{{ page.img }}" alt="Hands" width="500px" height="500px">
                    </div>
                </div>
                <div class="col-md-6 intro">
                    <div class="my-auto" id="featured_section" style="padding-top: 20px;">

                        {% if page.category == "topic-art" %}
                            <h2 class="featured_category">ART</h2>
                        {% elsif page.category == "topic-social-impact" %}
                            <h2 class="featured_category">SOCIAL IMPACT</h2>
                        {% elsif page.category == "topic-music" %}
                            <h2 class="featured_category">MUSIC</h2>
                        {% elsif page.category == "topic-engineering" %}
                            <h2 class="featured_category">ENGINEERING</h2>
                        {% elsif page.category == "topic-science" %}
                            <h2 class="featured_category">SCIENCE</h2>
                        {% else %}
                            <h2 class="featured_category">{{ page.category | upcase}}</h2>
                        {% endif %}


                        <h3 class="article_title">{{ page.title }}</h2>
                    </div>
                </div>
            </div>

            <div class="row white">
                <div class="col-md-12">
                    <p class="article_text">{{ page.content }}</p>
                </div>
            </div>
        </div>

        <!--Footer-->
        {% include footer.html %}
        <!--/Footer-->
                      
                  
    </body>
</html>