<!DOCTYPE html>
<html>
    <head>

        {% include head_content.html %}
        <link href="/css/explore.css" rel="stylesheet">

        <title>{{ page.title }} | {{ site.title }}</title>


    </head>
    <body class ="white">
        {% include nav.html %}

        <div class="container">

            <div class="row" style="padding-top:40px;">
                <div class="col-12 col-md-10">
                    <h1 class = "pageHeader">Pick a Topic to Explore</h1>
                    <h2 class ="subHeader">For Aspiring Artists, Entrepreneurs, and Activists to Discover <br> Technology Tips, Tutorials, and Tools</h2>
<!--                     <p>Learning about technology can be overwhelming and confusing. Often times, when we try to learn a new coding, design, or business skill it’s easy to get lost and want to give up. How do we know? Because we’ve been there. We too wish to smash our devices and hell at Youtube for not showing incomplete tutorials or making us feel inadequate because we are a beginner. </p>

                    <p>
                        Not anymore. At the Bit, we strive to make internet exploration easier.
                    </p>

                    <p>
                        <strong>Why focus on exploration rather than learning?</strong>
                        </br>
                        Because the internet is a delicious cake and we want to make sure you enjoy the first bite.
                    </p> -->
                </div>
            </div>

            <div class="row" style="padding-top:40px;">

                <div class="block col-md-2 orange hoverme mx-auto" onmouseover="changeColors(this);" onclick="location.href='/explore_pages/art.html';" style="cursor: pointer;">
                    <h1 class = "topic" >Art</h1>
                </div>

                <div class="block col-md-2 blue hoverme mx-auto" onmouseover="changeColors(this);" onclick="location.href='/explore_pages/social-impact.html';" style="cursor: pointer;">
                    <h1 class = "topic" >Social Impact</h1>
                </div>

                <div class="block col-md-2 hotpink hoverme mx-auto" onmouseover="changeColors(this);" onclick="location.href='/explore_pages/music.html';" style="cursor: pointer;">
                    <h1 class = "topic" >Music</h1>
                </div>

                <div class="block col-md-2 darkblue hoverme mx-auto" onmouseover="changeColors(this);" onclick="location.href='/explore_pages/engineering.html';" style="cursor: pointer;">
                    <h1 class = "topic" >Engineering</h1>
                </div>

                <div class="block col-md-2 darkpink hoverme mx-auto" onmouseover="changeColors(this);" onclick="location.href='/explore_pages/science.html';" style="cursor: pointer;">
                    <h1 class = "topic" >Science</h1>
                </div>
                
            </div>

            <!-- <div class="row">

                <div class="col-6 col-md-2 blue hoverme" onmouseover="changeColors(this);">
                    <h1 class = "topic"></h1>
                </div>

                <div class="col-6 col-md-2 pink hoverme" onmouseover="changeColors(this);">
                    <h1 class = "topic"></h1>
                </div>

                <div class="col-6 col-md-2 orange hoverme" onmouseover="changeColors(this);">
                    <h1 class = "topic">Code</h1>
                </div>

                <div class="col-6 col-md-2 hotpink hoverme" onmouseover="changeColors(this);">
                     <h1 class = "topic"><a class ="topicLink" href="random.html">.random</a></h1>
                </div>

                <div class="col-6 col-md-2 darkblue hoverme" onmouseover="changeColors(this);">
                     <h1 class = "topic"></h1>
                </div>

            </div>

            <div class="row" style="padding-bottom:40px;">

                <div class="col-6 col-md-2 hotpink hoverme" onmouseover="changeColors(this);">
                    <h1 class = "topic"><a class ="topicLink" href="random.html">Social Impact</a></h1>
                </div>

                <div class="col-6 col-md-2 orange hoverme" onmouseover="changeColors(this);">
                    <h1 class = "topic">With</h1>
                </div>

                <div class="col-6 col-md-2 pink hoverme" onmouseover="changeColors(this);">
                    <h1 class = "topic"></h1>
                </div>

                <div class="col-6 col-md-2 darkblue hoverme" onmouseover="changeColors(this);">
                     <h1 class = "topic"></h1>
                </div>

                <div class="col-6 col-md-2 orange hoverme" onmouseover="changeColors(this);">
                     <h1 class = "topic">Us</h1>
                </div>

            </div> -->



        </div>

        <!--Footer-->
        {% include footer.html %}
        <!--/Footer-->

       <!--  Javascript Files -->
        <script src="js/explore.js"></script>
                 
                  
    </body>
</html>