<!DOCTYPE html>
<html>
    <head>

       {% include head_content.html %}
       <link href="/css/videos.css" rel="stylesheet">
       <link href="/css/explore.css" rel="stylesheet">
       

        <title>{{ page.title }} | {{ site.title }}</title>


    </head>
    <body>
        {% include nav.html %}

        <div class="container h-100">
            <div class="row">

                <div class="col-md-12">
                    <h1 class="topic_title">videos</h1>
                </div>

            </div>

            {% for post in site.categories.video %}
              {% assign loopindex = forloop.index | modulo: 2 %}
              {% if loopindex == 1 %}
                <div class="row mx-auto">
                    <div class="col-md-5 white embed-responsive embed-responsive embed-responsive-21by9 mx-auto" >
                        {{ post.link }}
                    </div>
              {% else %}
                    <div class="col-md-5 white embed-responsive embed-responsive embed-responsive-21by9 mx-auto" >
                        {{ post.link }}
                    </div>
                </div>
              {% endif %}
            {% endfor %}
            

        </div>

        <!--Footer-->
        {% include footer.html %}
        <!--/Footer-->
                      
                  
    </body>
</html>